@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url(admin.css);
@import url(cliente.css);
:root {
  --background-color: #f9f5f0;
  --dark-color: #151515;
  /* *sombras  */
  --black_color: #000000;
  --dark-grey-color: #454343;
  --grey-color: #cbcbcb;
  /* *colores vivos */
  --red-color: #fa0b0b;
  --white-color: #fff;
  --rosa-peonia: #e85a9c;
  /* *colores fondos e inputs */
  --verde-salvia: #a8c9a1;
  --crema-marfil: #f9f5ef;
  --rosa-palido: #f4c6d7;
  --verde-oliva: #c9d9b2;
  --spacios: #fffcfc;
  /* *colores fuente */
  --dorado-suave: #d7b377;
  --fuentes: #a31452;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  background-color: var(--crema-marfil);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.container-hero {
  background-color: var(--rosa-palido);
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-support i {
  font-size: 3.3rem;
}

.content-customer-support {
  display: flex;
  flex-direction: column;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-logo i {
  font-size: 3rem;
}

.container-logo h1 a {
  text-decoration: none;
  color: #000;
  font-size: 4rem;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .fa-user {
  font-size: 3rem;
  color: var(--dark-color);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
  font-size: 3rem;
  color: var(--dark-color);
  padding-left: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

.container-navbar {
  background-color: var(--rosa-palido);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  color: #fff;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}

.search-form .btn-search {
  border: none;
  background-color: var(--rosa-palido);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.btn-search i {
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .hero {
    padding: 2rem;
  }

  .customer-support {
    display: none;
  }

  .content-shopping-cart {
    display: none;
  }

  .navbar {
    padding: 1rem 2rem;
  }

  .navbar .fa-bars {
    display: block;
    color: #fff;
    font-size: 3rem;
  }

  .menu {
    display: none;
  }
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */

@media (max-width: 468px) {
  html {
    font-size: 42.5%;
  }

  .content-banner {
    max-width: 50rem;
    padding: 22rem 0;
  }

  .heading-1 {
    font-size: 2.8rem;
  }
}
