@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
:root {
  /* sombras  */
  --black_color: #000000;
  --dark-grey-color: #454343;
  --grey-color: #cbcbcb;
  /* colores vivos */
  --red-color: #fa0b0b;
  --white-color: #fff;
  --rosa-peonia: #e85a9c;
  /* colores fondos e inputs */
  --verde-salvia: #a8c9a1;
  --crema-marfil: #f9f5ef;
  --rosa-palido: #f4c6d7;
  --verde-oliva: #c9d9b2;
  --spacios: #fffcfc;
  /* colores fuente */
  --dorado-suave: #d7b377;
  --fuentes: #a31452;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--crema-marfil);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
  animation: fondoCambiante 30s infinite;
  animation-timing-function: ease-in-out;
  background-size: cover;
  background-position: center;
}

@keyframes fondoCambiante {
  0% {
    background-image: url(../../img/flores_primavera_1.jpg);
  }
  30% {
    background-image: url(../../img/flores_primavera_1.jpg);
  }
  50% {
    background-image: url(../../img/flores_primavera_6.jpg);
  }
  75% {
    background-image: url(../../img/Free/mujer-decorando-su-casa-con-orquideas.jpg);
  }
  100% {
    background-image: url(../../img/Free/mujer-decorando-su-casa-con-orquideas.jpg);
  }
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: auto;
  min-height: 100px;
  border: 2px solid var(--verde-oliva);
}
.contenedor:hover {
  transform: scale(1.1);
  transition: 1s;
}
.titulo {
  color: var(--dorado-suave);
  margin-bottom: 25px;
}
.texto-separado {
  margin-top: 20px;
}

.formulario__input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 15px;
  border: 1px solid var(--rosa-palido);
  border-radius: 5px;
  outline: none;
  background-color: var(--white-color);
}
.formulario__input:hover {
  box-shadow: 0 0 5px var(--rosa-palido);
}

.formulario__botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.formulario__boton {
  background-color: var(--rosa-peonia);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}

.formulario__boton:hover {
  background-color: var(--dorado-suave);
  color: var(--white-color);
}
.formulario__enlace {
  color: var(--black_color);
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: normal;
  transition: color 0.2s;
}

.formulario__enlace:hover {
  color: var(--verde-salvia);
}
